@font-face {
  font-family: "Blauer";
  src: url("fonts/BlauerNue-Bold.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "BlauerSemibold";
  src: url("fonts/BlauerNue-SemiBold.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "BlauerMedium";
  src: url("fonts/BlauerNue-Medium.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "BlauerRegular";
  src: url("fonts/BlauerNue-Regular.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "BlauerLight";
  src: url("fonts/BlauerNue-Light.otf") format("opentype");
  font-display: swap;
}
* {
  padding: 0;
  box-sizing: border-box;
  background-color: #00;
}

html, body {
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #050608;
  scroll-behavior: smooth;
  min-height: 100%;
}

body {
  display: contents;
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

h1, h2, h3, h4, p, a {
  font-family: "Nunito Sans", sans-serif;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: calc(5vw + 1.2em);
}

h2 {
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-size: calc(3vw + 1em);
}

h3 {
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: calc(2vw + 1.8em);
  color: #f5f5f5;
  line-height: 105%;
}

h4 {
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: calc(1.6vw + 1.2em);
  color: #f5f5f5;
  line-height: 105%;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
  font-weight: 100;
  font-size: 1vw;
  color: #f5f5f5;
}

a {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-weight: 600;
  font-size: calc(1.6vw + 1.2em);
}

.REMOVEBR {
  display: none;
}

.webLinkPhone {
  display: none;
}

.Button {
  background-color: #424040;
  text-align: center;
  padding: 10px 16px 10px 16px;
  border-radius: 50px;
  color: #f5f5f5;
  font-size: 3vw;
  width: 35%;
  cursor: pointer;
}

.Button:hover {
  transition: ease-in 0.3s;
  background-color: #5439F8;
  color: #f5f5f5;
}

.Asection1Phone {
  display: none;
}

.HeaderMenue {
  position: fixed;
  width: 100vw;
  height: 7vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
  background-color: rgba(237, 240, 245, 0.3529411765);
  z-index: 1000;
}
.HeaderMenue .HeaderMenueInner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}
.HeaderMenue .HeaderMenueInner .Logo {
  color: #424242;
  font-family: "BlauerSemibold";
  font-size: calc(1vw + 1.25em);
}
.HeaderMenue .HeaderMenueInner .Links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  width: 25%;
}
.HeaderMenue .HeaderMenueInner .Links .Link {
  color: #424242;
  font-size: calc(0.85vw + 0.4em);
  font-weight: 500;
  margin-left: 10%;
}
.HeaderMenue .HeaderMenueInner .Links .burgerBar {
  width: 35px;
  height: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.HeaderMenue .HeaderMenueInner .Links .burgerBar .burgerBar1 {
  width: 35px;
  height: 2px;
  background-color: #424242;
  margin-bottom: 4px;
}
.HeaderMenue .HeaderMenueInner .Links .burgerBar .burgerBar2 {
  width: 35px;
  height: 2px;
  background-color: #424242;
  margin-top: 4px;
}

.navigation {
  position: relative;
  width: 100vw;
  z-index: 10;
}
.navigation .navToggle {
  position: fixed;
  top: 1vh;
  right: 1vw;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 900;
  cursor: pointer;
}
.navigation .navToggle .bar1 {
  position: absolute;
  display: inline-block;
  right: 0;
  width: 30px;
  height: 1.75px;
  background-color: #efefef;
  transform: translateY(3px);
  transition: transform 0.3s;
}
.navigation .navToggle .bar2 {
  position: absolute;
  right: 0;
  display: inline-block;
  width: 20px;
  height: 1.75px;
  transform: translateY(-3px);
  background-color: #efefef;
  transition: transform 0.3s;
}
.navigation .menuCont {
  position: fixed;
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: rgba(239, 239, 239, 0.9999);
  color: #fff;
  align-items: center;
  justify-content: center;
  transform-origin: top;
}
.navigation .menuCont a {
  text-decoration: none;
  color: #050608;
  cursor: pointer;
}
.navigation .menuCont .menu-Titles {
  font-size: calc(1vw + 0.6em);
  color: #776B6B;
  font-weight: 700;
}
.navigation .menuCont .menu-links {
  width: 30%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.navigation .menuCont .menu-links .titile {
  padding-bottom: 30px;
}
.navigation .menuCont .menu-links .menuLinksCont {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.navigation .menuCont .socials {
  width: 30%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.navigation .menuCont .socials .SocialsCont {
  display: flex;
  flex-direction: column;
  padding-bottom: 5%;
}
.navigation .menuCont .socials .Stitle {
  padding-bottom: 30px;
}
.navigation .menuCont .socials .menuLinksCont {
  display: flex;
  flex-direction: column;
}
.navigation .menuCont .socialLinks {
  font-size: calc(0.4vw + 0.75em);
  color: #050608;
  padding-bottom: 15px;
}
.navigation .menuCont .emailCont {
  display: flex;
  flex-direction: column;
}
.navigation .menuCont .emailCont .menu-Titles {
  padding-bottom: 10px;
}
.navigation .menuCont .emailCont .socialLinks {
  padding: 0;
}

.RoundButton {
  width: 30%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-self: center;
  margin-top: 5%;
}
.RoundButton a, .RoundButton p {
  color: #f5f5f5;
  margin: 0;
}

.roundButtonContent {
  width: 180px;
  height: 180px;
  display: flex;
  flex-direction: column;
  border-radius: 100%;
  border: 0.5px solid #464646;
  align-items: center;
  justify-content: center;
  transform: all 300ms ease;
  overflow: hidden;
  color: #464646;
  z-index: 10;
}
.roundButtonContent p {
  color: #464646;
}
.roundButtonContent svg {
  width: 20px;
  z-index: 10;
}

.RBC {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}

.Buttoncircle {
  position: absolute;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background-color: #424242;
  opacity: 1;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: height 0.4s, width 0.4s;
  opacity: 0;
}

.ButtonText {
  padding-top: 5px;
  font-size: 13px;
  color: #464646;
  z-index: 10;
}

footer {
  width: 85%;
  height: 38vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-top: 5%;
  justify-self: center;
}
footer .footerNavFrame {
  height: 80%;
  border-top: 1px solid #464646;
  padding-top: 2vh;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
footer .footerNavFrame .footerEmailLink {
  font-size: calc(2vw + 0.3em);
  color: #464646;
}
footer .footerNavFrame .informationFooter {
  width: 60%;
}
footer .footerNavFrame .informationFooter .emailF {
  padding-bottom: 2.5vh;
  font-size: calc(1.5vw + 1em);
}
footer .footerNavFrame .informationFooter .fT {
  font-size: calc(1.2vw + 0.1em);
  color: #776B6B;
  padding-bottom: 1vh;
}
footer .footerNavFrame .informationFooter .navF {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
footer .footerNavFrame .informationFooter .navF .fFP {
  color: #464646;
  font-size: calc(0.7vw + 0.2em);
  padding-bottom: 0.5vh;
}
footer .footerNavFrame .informationFooter .navF .FST {
  color: #464646;
  padding-bottom: 1vh;
}
footer .footerNavFrame .informationFooter .navF .fNavLinks {
  display: flex;
  flex-direction: column;
}
footer .footerNavFrame .contactUsFooter {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
}
footer .footerNavFrame .contactUsFooter .RoundButton {
  margin-right: 0;
  width: auto;
}
footer .footerNavFrame .RBF {
  width: auto;
}
footer .copyRights {
  align-self: flex-start;
  font-size: 9px;
  padding-bottom: 2vh;
  color: #464646;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  width: 100%;
  height: 100%;
}

.title {
  font-size: calc(1.85vw + 1.45em);
  color: #424242;
  font-family: "BlauerSemibold";
}

.Abody {
  width: 100vw;
  height: 100%;
  overflow: hidden;
}
.Abody .Button {
  background-color: #424040;
  text-align: center;
  padding: 10px 16px 10px 16px;
  border-radius: 50px;
  color: #f5f5f5;
  font-size: 1vw;
  width: 35%;
}
.Abody .aBackgroundG {
  width: 100vw;
  height: 120vh;
  z-index: -3;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
}
.Abody .Asection1 {
  width: 100%;
  height: 95vh;
  overflow: hidden;
}
.Abody .Asection1 .AinnerSB {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin-left: 5%;
  margin-right: 5%;
}
.Abody .Asection1 .AinnerSB .ATitle {
  font-size: var(--landing-page-font-size);
  font-family: "BlauerRegular";
  align-content: center;
  color: #424040;
  text-align: center;
  display: inline-block;
  line-height: 0.9;
}
.Abody .Asection1 .AinnerSB .ATitleDesc {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: var(--landing-page-desc-width);
  align-self: center;
}
.Abody .Asection1 .AinnerSB .ATitleDesc .ADescText {
  font-size: calc(0.65vw + 0.65em);
  color: #424242;
  font-weight: 300;
}
.Abody .Asection1 .AinnerSB .Abuttons {
  display: flex;
  width: 35%;
  justify-content: space-evenly;
}
.Abody .Asection1 .AinnerSB .Abuttons .ALB {
  font-size: calc(0.72vw + 0.5rem);
  color: #FFF;
  background-color: #303030;
  font-weight: 400;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 8px;
}
.Abody .AsubSec1 {
  height: 200vh;
  display: flex;
  flex-direction: column;
  margin: 7.5% 5% 10% 5%;
  color: #303030;
}
.Abody .AsubSec1 .ASS1Cont {
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Abody .AsubSec1 .stickyASS1 {
  position: sticky;
  top: 20%;
}
.Abody .AsubSec1 .ASTextCont {
  height: 50vh;
}
.Abody .AsubSec1 .ASB {
  width: 85vw;
  font-weight: 100;
  font-size: calc(1.8vw + 1rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Abody .AsubSec1 .ASB.ASB1 {
  z-index: 4;
  position: absolute;
  opacity: 1;
}
.Abody .AsubSec1 .ASB.ASB2 {
  z-index: 3;
  opacity: 0;
  position: absolute;
}
.Abody .AsubSec1 .ASB.ASB3 {
  z-index: 2;
  opacity: 0;
  position: absolute;
}
.Abody .AsubSec1 .ASB .ASBTit {
  font-size: calc(1.8vw + 1.2rem);
  color: #776b6b;
  padding-bottom: 5vh;
}
.Abody .AsubSec1 .ASB .ASBP {
  font-size: calc(1.6vw + 1.2rem);
  font-weight: 100;
  width: 70vw;
  padding-bottom: 5vh;
}
.Abody .ASub1v2P {
  display: none;
  overflow: hidden;
}
.Abody .ASub1v2 {
  display: flex;
  margin-left: 7.5%;
  margin-right: 7.5%;
  height: 160vh;
  margin-top: 10%;
  margin-bottom: 20%;
}
.Abody .ASub1v2 .ASubCont {
  display: flex;
  position: relative;
  justify-content: space-between;
  top: 0%;
  width: 100%;
}
.Abody .ASub1v2 .timeline-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 5rem;
  z-index: 5;
  display: flex;
  justify-content: center;
  pointer-events: none; /* allows clicks to go through */
}
.Abody .ASub1v2 .timeline-line {
  position: relative;
  width: 3px;
  height: 105%;
  background: rgb(173, 175, 185);
}
.Abody .ASub1v2 .clipper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}
.Abody .ASub1v2 .filler {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #5439f8;
  transform: translateY(calc(-100% + var(--p, 0) * 105%));
  transition: transform 0.3s ease-out;
}
.Abody .ASub1v2 .AsubDot {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: rgb(173, 175, 185);
  z-index: 11;
}
.Abody .ASub1v2 .dotFirst {
  top: 0%;
}
.Abody .ASub1v2 .dotMid1 {
  top: 33.3%;
}
.Abody .ASub1v2 .dotMid2 {
  top: 66.6%;
}
.Abody .ASub1v2 .dotLast {
  top: 100%;
}
.Abody .ASub1v2 .AsubDot.active {
  background: #5439f8;
}
.Abody .ASub1v2 .ASub2Text {
  width: 50%;
}
.Abody .ASub1v2 .Absdiv {
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: space-between;
  height: 100%;
}
.Abody .ASub1v2 .Absdiv .AsubTextNum {
  font-size: calc(0.8vw + 0.55rem);
  padding-bottom: 2.2vh;
  color: #424242;
}
.Abody .ASub1v2 .Absdiv .ASubTextTitle {
  font-size: calc(1.5vw + 1.5rem);
  padding-bottom: 3.2vh;
  font-family: "BlauerRegular";
  color: #424242;
  text-transform: capitalize;
}
.Abody .ASub1v2 .Absdiv .ASubTextDescription {
  font-size: calc(1vw + 0.6rem);
  font-weight: 300;
  color: #424242;
  padding-right: 2%;
}
.Abody .ASub1v2 .Absdiv .ASUBTextB {
  font-size: calc(0.72vw + 0.5rem);
  color: #fff;
  background-color: #303030;
  font-weight: 400;
  margin-top: 5%;
  width: -moz-fit-content;
  width: fit-content;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 8px;
}
.Abody .ASub1v2 .Absdiv .ASubTextV2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Abody .ASub1v2 .ASub2ThreeJs {
  width: 50%;
  height: 80vh;
  display: block;
  margin-top: 10vh;
  margin-bottom: 10vh;
}
.Abody .Asection2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 7.5%;
  margin-right: 7.5%;
  margin-bottom: 15%;
  overflow: hidden;
}
.Abody .Asection2 .AS2T {
  margin-bottom: 5%;
  font-family: "BlauerSemibold";
  font-size: calc(1.85vw + 1.45em);
  color: #424242;
}
.Abody .Asection2 .AfeturesTable {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Abody .Asection2 .AfeturesTable .AS2Pic {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 40px;
}
.Abody .Asection2 .AfeturesTable .AS2innertop {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5%;
}
.Abody .Asection2 .AfeturesTable .AS2innerbot {
  display: flex;
  justify-content: flex-end;
}
.Abody .Asection2 .AfeturesTable .cards {
  width: 30%;
  background-color: rgba(176, 194, 255, 0.431372549);
  height: 45vh;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  backdrop-filter: blur(100.2px);
  -webkit-backdrop-filter: blur(100.2px);
}
.Abody .Asection2 .AfeturesTable .cards .AS2innerDiv {
  height: 85%;
  display: flex;
  margin-right: 7.5%;
  margin-left: 12%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.Abody .Asection2 .AfeturesTable .cards .AS2innerDiv .AS2CH {
  display: flex;
  flex-direction: column;
  justify-content: start;
  font-weight: 400;
  margin-bottom: 2vh;
}
.Abody .Asection2 .AfeturesTable .cards .AS2innerDiv .AS2CH .AS2CI {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Abody .Asection2 .AfeturesTable .cards .AS2innerDiv .AS2CH .AS2CI img {
  height: 2.5vw;
  -o-object-fit: contain;
     object-fit: contain;
}
.Abody .Asection2 .AfeturesTable .cards .AS2innerDiv .AS2CH .AS2CI .AS2IS {
  align-self: center;
}
.Abody .Asection2 .AfeturesTable .cards .AS2innerDiv .AS2D {
  width: 100%;
}
.Abody .Asection2 .AfeturesTable .cards .AS2innerDiv .AS2D .AS2CT {
  font-size: calc(1vw + 0.85rem);
  color: #424242;
  margin-bottom: 2vh;
  font-family: "BlauerRegular";
}
.Abody .Asection2 .AfeturesTable .cards .AS2innerDiv .AS2D .AS2CD {
  text-align: start;
  color: #303030;
  font-size: calc(0.85vw + 0.3rem);
  font-weight: 300;
  width: 100%;
}
.Abody .section2AN {
  width: 100%;
  margin-top: 8%;
  display: block;
  flex-direction: column;
  align-items: center;
}
.Abody .section2AN .titleS {
  margin-right: 7.5%;
  margin-left: 7.5%;
}
.Abody .section2AN .title2 {
  margin-bottom: 0;
}
.Abody .section2AN .projectFrame {
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: space-between;
  height: 300vh;
  margin-right: 7.5%;
  margin-left: 7.5%;
}
.Abody .section2AN .projectFrame .projectText {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.Abody .section2AN .projectFrame .projectText .textslides {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: flex-start;
  width: 70%;
}
.Abody .section2AN .projectFrame .projectText .Button {
  background-color: #424040;
  color: #f5f5f5;
}
.Abody .section2AN .projectFrame .projectText .projectTitle {
  font-family: "BlauerRegular";
  padding: 2% 0 2% 0;
}
.Abody .section2AN .projectFrame .projectText .projectTitle span {
  display: none;
}
.Abody .section2AN .projectFrame .projectText .TextSlide1 .projectTitle {
  color: #424040;
}
.Abody .section2AN .projectFrame .projectText .TextSlide1 .projectDesc {
  color: #424040;
}
.Abody .section2AN .projectFrame .projectText .TextSlide1 .Button:hover {
  background-color: #091f5b;
}
.Abody .section2AN .projectFrame .projectText .TextSlide2 .projectTitle {
  color: #5f4820;
}
.Abody .section2AN .projectFrame .projectText .TextSlide2 .projectDesc {
  color: #5f4820;
}
.Abody .section2AN .projectFrame .projectText .TextSlide2 .Button:hover {
  background-color: #eb7223;
}
.Abody .section2AN .projectFrame .projectText .TextSlide3 .projectTitle {
  color: #424040;
}
.Abody .section2AN .projectFrame .projectText .TextSlide3 .projectDesc {
  color: #424040;
}
.Abody .section2AN .projectFrame .projectText .TextSlide3 .Button:hover {
  background-color: #deb64b;
  color: #ffffff;
}
.Abody .section2AN .projectFrame .projectText .webLink {
  color: #776B6B;
  font-size: 1vw;
}
.Abody .section2AN .projectFrame .projectText .projectDesc {
  padding-bottom: 12%;
}
.Abody .section2AN .projectFrame .projectImg {
  overflow: visible;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  width: 50%;
  padding: 0;
  align-content: center;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  position: -webkit-sticky;
}
.Abody .section2AN .projectFrame .stickyIMG {
  position: sticky;
  top: 0%;
}
.Abody .section2AN .projectFrame .photosS2 {
  width: 31vw;
  height: 31vw;
  display: flex;
  position: relative;
  overflow: hidden;
  border-radius: 8%;
  z-index: 5;
}
.Abody .first {
  background-image: url("./Gallery/LandingImages/realEstateIamge.png");
}
.Abody .second {
  background-image: url("./Gallery/LandingImages/MakeupBrand.png");
}
.Abody .third {
  background-image: url("./Gallery/LandingImages/jewelry.png");
}
.Abody .show-image {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  background-position: 50%;
  background-size: 460px 460px;
  background-repeat: no-repeat;
  background-size: cover;
}
.Abody .cardB {
  margin-right: 4vw;
}
.Abody .subS3div {
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-bottom: 15%;
}
.Abody .subS3div .subS3Title {
  width: 40%;
  display: flex;
  align-items: center;
}
.Abody .subS3div .subS3Title .subS3TitleText {
  font-size: calc(1.85vw + 1.45em);
  color: #424242;
  font-family: "BlauerRegular";
  position: relative;
  display: inline-block;
  line-height: 1.2;
}
.Abody .subS3div .subS3DescDiv {
  width: 50%;
  height: 32vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 5vw;
}
.Abody .subS3div .subS3DescDiv .subS3Desc {
  font-size: calc(0.7vw + 0.6rem);
  color: #565656;
  font-weight: 500;
  line-height: 140%;
  position: relative;
  display: inline-block;
  line-height: 1.2;
}
.Abody .subS3div .subS3DescDiv .subS3DescStats {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}
.Abody .subS3div .subS3DescDiv .subS3DescStats .subS3projects {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Abody .subS3div .subS3DescDiv .subS3DescStats .subS3Numb {
  font-size: calc(3.5vw + 1.45em);
  color: #5439F8;
  font-weight: 600;
}
.Abody .subS3div .subS3DescDiv .subS3DescStats .subS3NumDesc {
  font-size: calc(0.7vw + 0.4rem);
  color: #565656;
  font-weight: 600;
  text-transform: lowercase;
}
.Abody .ASection3 {
  margin-left: 7.5%;
  margin-right: 7.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
.Abody .ASection3 .AS3TText {
  font-size: calc(1.85vw + 1.45em);
  color: #424242;
  font-family: "Blauersemibold";
  margin-bottom: 5%;
}
.Abody .ASection3 .AS3Body {
  width: 100%;
  display: flex;
  overflow: hidden;
  justify-content: space-between;
}
.Abody .ASection3 .AS3Body .AS3Desc {
  margin-left: 0.25%;
  width: 30%;
}
.Abody .ASection3 .AS3Body .AS3Desc .AS3DescText {
  font-size: calc(0.6vw + 0.65rem);
  color: #565656;
  font-weight: 300;
  line-height: 140%;
  margin-top: 1vh;
}
.Abody .ASection3 .AS3Body .AS3CardsBody {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Abody .ASection3 .AS3Body .AS3CardsBody .AS3CardsDiv {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5%;
  border: solid 1px #565656;
  border-width: 0px 0px 1px 0px;
}
.Abody .ASection3 .AS3Body .AS3CardsBody .AS3CardsDiv .AS3Card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 46%;
  padding-left: 2%;
}
.Abody .ASection3 .AS3Body .AS3CardsBody .AS3CardsDiv .AS3Card .AS3CardNum {
  font-size: calc(0.5vw + 0.65rem);
  color: #565656;
  margin-bottom: 1.5vh;
  font-weight: 400;
}
.Abody .ASection3 .AS3Body .AS3CardsBody .AS3CardsDiv .AS3Card .AS3CardTitle {
  font-size: calc(1.5vw + 0.65rem);
  color: #424242;
  text-transform: uppercase;
  font-family: "BlauerRegular";
  margin-bottom: 1.5vh;
  position: relative;
}
.Abody .ASection3 .AS3Body .AS3CardsBody .AS3CardsDiv .AS3Card .AS3CardDesc {
  font-size: calc(0.55vw + 0.65rem);
  color: #565656;
  font-weight: 300;
  line-height: 140%;
  padding-bottom: 4vh;
  width: 90%;
}
.Abody .ASection3 .AS3Body .AS3CardsBody .AS3CardsDiv .AS3Card .AS3CDot {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #5439F8;
  position: absolute;
  top: 40%;
  left: -20px;
}
.Abody .section6 {
  width: 85vw;
  margin-left: 7.5vw;
  margin-right: 7.5vw;
  display: block;
  justify-self: center;
}
.Abody .section6 .TextholderS6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  margin-bottom: 4%;
  margin-right: 22%;
  margin-left: 2%;
}
.Abody .section6 .TextholderS6 .TextS6 {
  font-size: calc(1.25vw + 2em);
  color: #575050;
  font-family: "Blauerregular";
  margin-bottom: 4%;
}
.Abody .section7 {
  display: block;
  width: 85vw;
  height: 75vh;
  margin-left: 7.5vw;
  margin-right: 7.5vw;
}
.Abody .section7 .mockupHolderS7 {
  background-color: #2d2d2d;
  height: 100%;
  border-radius: 30px;
}
.Abody .section8 {
  width: 85vw;
  height: 75vh;
  margin-left: 7.5vw;
  margin-right: 7.5vw;
  display: block;
  margin-top: 10vh;
  justify-items: center;
  align-content: center;
  background: transparent !important;
}
.Abody .section8 .S8Cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: transparent !important;
}
.Abody .section8 .S8Cont .S83DCont {
  width: 60%;
  height: 50vh;
  background: transparent !important;
}
.Abody .section8 .S8Cont .S83DCont #heartS8 {
  width: 100%;
  height: 50vh;
}
.Abody .section8 .S8Cont .S8Text {
  width: 50%;
  height: 100%;
  color: #424242;
}
.Abody .section8 .S8Cont .S8Text .S8Title {
  font-size: calc(1.85vw + 1.2em);
  margin-bottom: 4%;
  line-height: 100%;
  font-family: "Blauerregular";
}
.Abody .section8 .S8Cont .S8Text p {
  font-size: calc(0.85vw + 0.5em);
  color: #464646;
  margin-bottom: 6%;
  margin-right: 30%;
}
.Abody .section8 .S8Cont .S8Text a {
  color: #464646;
  font-size: calc(0.85vw + 0.3em);
  text-decoration: none;
  font-weight: 600;
}
.Abody .Asection2P {
  display: none;
}

#Projects .fullPageDiv {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 3%;
  padding-right: 3%;
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
}
#Projects .fullPageDiv .textDivFp {
  width: 30%;
  display: flex;
  position: sticky;
  top: 50px; /* Distance from the top of the viewport */
  align-self: flex-start; /* Aligns the sticky div at the start of the flex container */
  flex-direction: column;
  height: 90vh;
  justify-content: space-between;
  border-bottom: solid rgba(119, 107, 107, 0.3803921569) 0.1px;
}
#Projects .fullPageDiv .textDivFp .projectTitle {
  color: #edf0f5;
  line-height: 100%;
  margin-bottom: 4%;
}
#Projects .fullPageDiv .textDivFp .projectSub {
  font-size: 1.8rem;
  font-weight: 100;
  color: #ababab;
}
#Projects .fullPageDiv .textDivFp .servicesFooterP {
  padding-bottom: 2.5%;
}
#Projects .fullPageDiv .textDivFp .servicesF {
  font-size: 2rem;
  font-weight: 500;
  color: #ababab;
}
#Projects .fullPageDiv .textDivFp .servicesDescF {
  font-size: 1.2rem;
  font-weight: 100;
}
#Projects .fullPageDiv .fullPageGalleryCont {
  display: flexbox;
  flex-direction: column;
  width: 50%;
}
#Projects .fullPageDiv .fullPageGalleryCont .projectPics {
  width: 100%;
  max-width: 100%;
  text-align: center;
  clear: both;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 1.8%;
}
#Projects .fullPageDiv .fullPageGalleryCont .picsOS {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2%;
}
#Projects .fullPageDiv .fullPageGalleryCont .twopicsAside {
  width: 49%;
}
#Projects .fullPageDiv .fullPageGalleryCont .picSolo {
  width: 100%;
}
#Projects .otherProjects {
  border-top: rgba(119, 107, 107, 0.3803921569) solid 0.05px;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
}
#Projects .otherProjects .oPTitle {
  margin-top: 1%;
  margin-bottom: 3%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}
#Projects .otherProjects .oPTitle .oPText {
  font-weight: 600;
}
#Projects .otherProjects .oPTitle .oPbotton {
  font-size: 2rem;
  text-decoration: none;
  align-content: center;
  color: #efefef;
  font-weight: 300;
}
#Projects .otherProjects .oPCards {
  display: flex;
  justify-content: space-between;
}
#Projects .otherProjects .oPCards .oPCard {
  width: 49%;
  display: flex;
  flex-direction: column;
}
#Projects .otherProjects .oPCards .oPCard .oPCImageW {
  padding-bottom: 60%;
  position: relative;
  overflow: hidden;
  border-radius: 2rem;
}
#Projects .otherProjects .oPCards .oPCard .oPCImageW .oPCImage {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 2rem;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  overflow: hidden;
}
#Projects .otherProjects .oPCards .oPCText {
  padding-top: 3%;
}
#Projects .otherProjects .oPCards .oPCText .metaData {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2%;
}
#Projects .otherProjects .oPCards .oPCText .metaData p {
  color: #776b6b;
}
#Projects .otherProjects .oPCards .oPCText .oPCTitle {
  width: 95%;
  font-size: calc(1.3vw + 0.85em);
}
#Projects .otherProjects .oPCards .oPCText .oPCTitle .oPCTSpan {
  font-size: calc(1.25vw + 0.2rem);
  font-weight: 100;
  color: #776b6b;
}
#Projects .footerNavFrame {
  width: 95%;
}
#Projects .contactUsFooter {
  justify-content: flex-end;
}
#Projects .contactUsFooter .RoundButton {
  margin-top: 0;
  margin-right: 2%;
}
#Projects .contactUsFooter .RoundButton .roundButtonContent {
  width: 190px;
  height: 190px;
}
#Projects .copyRights {
  padding-bottom: 3%;
  font-size: 0.8rem;
}

.lineWrap {
  position: relative;
  display: block;
  overflow: hidden;
}

.lineWrapDesc {
  position: relative;
  display: block;
  overflow: hidden;
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #717171; /* dimmer/faded text color */
  opacity: 1;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  transform: scaleX(1);
  transform-origin: right center;
  pointer-events: none;
  white-space: pre; /* preserve spacing */
  z-index: 2;
  background: transparent; /* crucial: no background */
}

.subS3TitleP {
  display: none;
}

.projectDescPhone {
  display: none;
}

@media only screen and (max-width: 1200px) {
  .Abody .section2AN .projectFrame {
    height: 240vh; /* Adjust height for smaller screens */
  }
  .Abody .section2AN .projectFrame .projectText .textslides {
    width: 80%; /* Adjust width for smaller screens */
    height: 80vh;
  }
  .Abody .section2AN .projectFrame .projectImg {
    top: 10vh;
    height: 80vh; /* Adjust height for smaller screens */
  }
}
@media only screen and (max-width: 786px) {
  .bar1 {
    width: 15px;
  }
  .bar2 {
    width: 10px;
  }
  .textTitleS {
    font-size: calc(4.2vw + 1em);
  }
  .footer {
    height: auto;
    width: 100%;
  }
  .footer .footerNavFrame {
    width: 85%;
    padding-bottom: 2vh;
    align-items: center;
  }
  .footer .footerNavFrame .RoundButton {
    display: none;
  }
  .footer .footerNavFrame .contactUsFooter {
    display: none;
  }
  .footer .footerNavFrame .informationFooter {
    width: 100%;
  }
  .footer .footerNavFrame .informationFooter .emailF {
    padding-bottom: 2vh;
  }
  .footer .footerNavFrame .informationFooter .emailF .fT {
    font-size: calc(2vw + 0.3em);
  }
  .footer .footerNavFrame .informationFooter .emailF .footerEmailLink {
    font-size: calc(2.4vw + 0.55em);
  }
  .footer .footerNavFrame .informationFooter .navF .fNavLinks {
    width: 30%;
  }
  .footer .footerNavFrame .informationFooter .navF .fNavLinks .fFP {
    font-size: calc(2vw + 0.3em);
  }
  .footer .footerNavFrame .informationFooter .navF .fNavLinks .fFp {
    font-size: calc(2vw + 0.1em);
  }
  .footer .copyRights {
    width: 85%;
    margin: 0;
    align-self: inherit;
  }
  #Projects .fullPageDiv {
    flex-direction: column;
  }
  #Projects .fullPageDiv .textDivFp {
    width: 100%;
    position: relative;
    top: 0;
    height: 45vh;
    margin-bottom: 3.5vh;
    border-bottom: solid 0.25px #ababab;
  }
  #Projects .fullPageDiv .textDivFp .projectTitle {
    font-size: calc(5vw + 1.8em);
  }
  #Projects .fullPageDiv .textDivFp .projectSub {
    font-size: 1.4rem;
    font-weight: 300;
    letter-spacing: -0.025em;
  }
  #Projects .fullPageDiv .textDivFp .servicesFooterP {
    padding: 0;
  }
  #Projects .fullPageDiv .textDivFp .servicesFooterP .servicesF {
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.05rem;
  }
  #Projects .fullPageDiv .textDivFp .servicesFooterP .servicesDescF {
    font-size: 0.75rem;
    letter-spacing: 0.05rem;
    font-weight: 300;
    padding-bottom: 5px;
  }
  #Projects .fullPageDiv .fullPageGalleryCont {
    width: 100%;
  }
  #Projects .fullPageDiv .fullPageGalleryCont .projectFigure .projectPics {
    margin: 0;
    padding: 0;
    margin-bottom: 5%;
  }
  #Projects .fullPageDiv .fullPageGalleryCont .picsOS {
    margin: 0;
    padding: 0;
    margin-bottom: 5%;
  }
  #Projects .fullPageDiv .fullPageGalleryCont .picsOS .twopicsAside {
    width: 48%;
  }
  #Projects .otherProjects {
    border-top: solid 0.25px #ababab;
  }
  #Projects .otherProjects .oPTitle {
    align-items: center;
    margin-top: 2%;
    margin-bottom: 7.5%;
  }
  #Projects .otherProjects .oPTitle .oPText {
    font-size: calc(2vw + 2.3rem);
  }
  #Projects .otherProjects .oPTitle .oPbotton {
    font-size: 1.1rem;
    font-weight: 500;
    text-decoration-line: underline;
    text-decoration-thickness: 0.5px;
    text-underline-offset: 2px;
  }
  #Projects .otherProjects .oPCards {
    flex-direction: column;
  }
  #Projects .otherProjects .oPCards .oPCard {
    width: 100%;
    margin-bottom: 4%;
    margin-bottom: 10%;
  }
  #Projects .otherProjects .oPCards .oPCard .oPCImageW .oPCImage {
    border-radius: 0.75rem;
  }
  #Projects .otherProjects .oPCards .oPCard .oPCText {
    padding-top: 4%;
  }
  #Projects .otherProjects .oPCards .oPCard .oPCText .metaData {
    padding-bottom: 1%;
  }
  #Projects .otherProjects .oPCards .oPCard .oPCText .metaData .oPCService {
    font-size: 0.9rem;
    font-weight: 300;
  }
  #Projects .otherProjects .oPCards .oPCard .oPCText .metaData .oPCYear {
    font-size: 0.85rem;
    align-self: center;
  }
  #Projects .otherProjects .oPCards .oPCard .oPCText .oPCTitle {
    font-size: calc(1.6vw + 1rem);
    line-height: 18pt;
    letter-spacing: -1px;
  }
  #Projects .otherProjects .oPCards .oPCard .oPCText .oPCTitle .oPCTSpan {
    font-size: calc(1vw + 0.95rem);
    font-weight: 500;
    letter-spacing: -1px;
  }
  .Abody * {
    box-sizing: border-box;
    overflow: hidden;
  }
  canvas#aBackgroundG {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    z-index: -1; /* Behind other elements */
    touch-action: none;
  }
  .HeaderMenue .HeaderPhoneHide {
    display: none;
  }
  .Asection1 {
    display: none;
  }
  .Button {
    background-color: #424040;
    text-align: center;
    padding: 10px 16px 10px 16px;
    border-radius: 50px;
    color: #f5f5f5;
    font-size: 3vw;
    width: 35%;
  }
  .Asection1Phone {
    display: block;
    height: 90vh;
    margin-top: 4.25vh;
    width: 100%;
    overflow: hidden;
  }
  .Asection1Phone .AinnerSBP {
    height: 100%;
    margin-left: 7.5%;
    margin-right: 7.5%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
  }
  .Asection1Phone .AinnerSBP .ATitleP {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-end;
    margin-bottom: 2vh;
    width: 100%;
  }
  .Asection1Phone .AinnerSBP .ATitleP .ATitlePT {
    font-size: 20vw;
    color: #464646;
    width: 100%;
    font-weight: 100;
    font-family: "Blauer";
    text-align: center;
  }
  .Asection1Phone .AinnerSBP .ALandingSubTextPhone {
    width: 100%;
    height: 17.5vh;
    display: flex;
    align-items: flex-end;
  }
  .Asection1Phone .AinnerSBP .ALandingSubTextPhone .ALandingSubTextPhoneP {
    font-size: calc(1.3vw + 1.1em);
    color: #464646;
    font-family: "BlauerRegular";
    text-align: justify;
    -moz-text-align-last: justify;
         text-align-last: justify;
    text-indent: 10%; /* indent first line */
  }
  .Asection1Phone .AinnerSBP .ALandingSubTextPhone .ALandingSubTextPhoneP::after {
    content: "";
    display: inline-block;
    width: 10%;
  }
  .Asection1Phone .AinnerSBP .ATitleBottomDiv {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    margin-bottom: 2vh;
  }
  .Asection1Phone .AinnerSBP .ATitleBottomDiv .ATitleP {
    margin-bottom: 0;
  }
  .Asection1Phone .AinnerSBP .ATitleBottomDiv .AS1SepratorPhone {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: rgba(159, 159, 159, 0.3882352941) solid 0.1px;
    border-bottom: rgba(159, 159, 159, 0.3882352941) solid 0.1px;
  }
  .Asection1Phone .AinnerSBP .ATitleBottomDiv .AS1SepratorPhone .AS1SepratorTextP {
    padding: 0.2rem 0;
    color: #464646;
    font-size: 0.8rem;
  }
  .Asection1Phone .AinnerSBP .ATitleBottomDiv .AS1SepratorPhone .AS1SepratorTextP2 {
    padding: 0.2rem 0;
    color: #5439F8;
    font-size: 1rem;
    align-content: end;
  }
  .Abody {
    overflow: hidden;
  }
  .Abody .ASub1v2 {
    display: none;
  }
  .Abody .ASub1v2P {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 5vh;
    margin-bottom: 2.5vh;
    overflow: hidden;
  }
  .Abody .ASub1v2P .ASubContP {
    height: 300vh;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: center;
  }
  .Abody .ASub1v2P .ASub2ThreeJs {
    margin: 0;
    height: 0vh;
    width: 100%;
  }
  .Abody .ASub1v2P .timeline-wrapper {
    display: none;
  }
  .Abody .ASub1v2P .ASub2TextP {
    width: 100%;
    opacity: 0;
  }
  .Abody .ASub1v2P .Absdiv {
    width: 100%;
    height: 85vh;
    position: relative; /* Set as relative initially */
    display: flex;
    transform: translate3d(0, 0, 0);
    overflow-x: hidden;
    justify-content: center;
  }
  .Abody .ASub1v2P .Absdiv .Spacer {
    margin-top: 2vh;
    width: 80%;
    height: 2px;
    background-color: rgba(70, 70, 70, 0.4862745098);
  }
  .Abody .ASub1v2P .Absdiv .Spacer .spacerFill {
    height: 2px;
    background: #5339ff;
    transform: translateX(calc(-100% + var(--P1, 0) * 100%));
    transition: transform 0.3s ease-out;
  }
  .Abody .ASub1v2P .Absdiv .AsubTextNum2 .char {
    opacity: 0;
  }
  .Abody .ASub1v2P .Absdiv .ASubTextTitle2 .char {
    opacity: 0;
  }
  .Abody .ASub1v2P .Absdiv .ASubTextDescriptionP2 .word {
    opacity: 0;
  }
  .Abody .ASub1v2P .Absdiv .AsubTextNum3 .char {
    opacity: 0;
  }
  .Abody .ASub1v2P .Absdiv .ASubTextTitle3 .char {
    opacity: 0;
  }
  .Abody .ASub1v2P .Absdiv .ASubTextDescriptionP3 .word {
    opacity: 0;
  }
  .Abody .ASub1v2P .Absdiv .ASubTextV2P {
    justify-content: center;
    margin-left: 5vh;
    margin-right: 5vh;
    height: -moz-fit-content;
    height: fit-content;
    margin-top: 2vh;
  }
  .Abody .ASub1v2P .Absdiv .ASubTextV2P .ASubTextContainerP {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    padding-top: 3vh;
    overflow: hidden;
  }
  .Abody .ASub1v2P .Absdiv .ASubTextV2P .ASubTextContainerP .AsubTextNum {
    font-size: calc(2vw + 0.55em);
    font-weight: 400;
    color: #424242;
    overflow: hidden;
  }
  .Abody .ASub1v2P .Absdiv .ASubTextV2P .ASubTextContainerP .ASubTextTitle {
    font-size: calc(2.7vw + 2.7em);
    line-height: 95%;
    padding-bottom: 2.75vh;
    font-family: "BlauersemiBold";
    color: #424242;
    overflow: hidden;
  }
  .Abody .ASub1v2P .Absdiv .ASubTextV2P .ASubTextContainerP .ASubTextRtrigger {
    display: none;
    justify-content: flex-start;
    padding-bottom: 1vh;
    padding-top: 1vh;
  }
  .Abody .ASub1v2P .Absdiv .ASubTextV2P .ASubTextContainerP .ASubTextRtrigger .ASubButton {
    font-size: calc(1.25vw + 0.85em);
    color: #424242;
    font-weight: 400;
    padding-right: 2vw;
  }
  .Abody .ASub1v2P .Absdiv .ASubTextV2P .ASubTextContainerP .ASubTextRtrigger .ASubButtonI {
    font-size: calc(1.25vw + 0.85em);
    color: #2d2d2d;
    font-weight: 400;
  }
  .Abody .ASub1v2P .Absdiv .ASubTextV2P .ASubTextDescriptionP {
    font-size: calc(2vw + 0.92em);
    line-height: 110%;
    font-weight: 200;
    color: #424242;
    padding: 0;
    padding-bottom: 3vh;
    overflow: hidden;
  }
  .Abody .ASubTextV21P {
    z-index: 5;
    position: absolute;
    left: 0;
  }
  .Abody .ASubTextV22P {
    z-index: 6;
    transform: translate(200px, 0px, 0px);
    position: absolute;
  }
  .Abody .ASubTextV23P {
    z-index: 7;
    x: 350;
    position: absolute;
  }
  .Abody .Asection2 {
    display: none !important;
  }
  .Abody .Asection2P {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 7.5%;
    margin-right: 7.5%;
    margin-bottom: 15%;
    overflow: hidden;
  }
  .Abody .Asection2P .AS2T {
    font-family: "BlauerSemibold";
    font-size: calc(2.85vw + 2em);
    color: #424242;
    margin-bottom: 7vh;
  }
  .Abody .Asection2P .AfeturesTable {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .Abody .Asection2P .AfeturesTable .AS2Pic {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 40px;
  }
  .Abody .Asection2P .AfeturesTable .AS2innertop {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 5%;
  }
  .Abody .Asection2P .AfeturesTable .cards {
    width: 100%;
    background-color: rgba(176, 194, 255, 0.431372549);
    height: 45vh;
    margin-bottom: 2vh;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    backdrop-filter: blur(100.2px);
    -webkit-backdrop-filter: blur(100.2px);
  }
  .Abody .Asection2P .AfeturesTable .cards .AS2innerDiv {
    height: 85%;
    display: flex;
    margin-right: 7.5%;
    margin-left: 12%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .Abody .Asection2P .AfeturesTable .cards .AS2innerDiv .AS2CH {
    display: flex;
    flex-direction: column;
    justify-content: start;
    font-weight: 400;
    margin-bottom: 2.5vh;
  }
  .Abody .Asection2P .AfeturesTable .cards .AS2innerDiv .AS2CH .AS2CI {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Abody .Asection2P .AfeturesTable .cards .AS2innerDiv .AS2CH .AS2CI img {
    height: 10vw;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .Abody .Asection2P .AfeturesTable .cards .AS2innerDiv .AS2CH .AS2CI .AS2IS {
    align-self: center;
  }
  .Abody .Asection2P .AfeturesTable .cards .AS2innerDiv .AS2D {
    width: 100%;
  }
  .Abody .Asection2P .AfeturesTable .cards .AS2innerDiv .AS2D .AS2CT {
    font-size: 2rem;
    color: #424242;
    margin-bottom: 2.5vh;
    font-family: "BlauerRegular";
  }
  .Abody .Asection2P .AfeturesTable .cards .AS2innerDiv .AS2D .AS2CD {
    text-align: start;
    color: #303030;
    font-size: 1.05rem;
    font-weight: 300;
    width: 100%;
  }
  .Abody .subSection3 {
    width: 100%;
  }
  .Abody .subS3div {
    margin-bottom: 10vh;
    flex-direction: column;
  }
  .Abody .subS3div .subS3Title {
    display: none;
  }
  .Abody .subS3div .subS3TitleText {
    display: none;
  }
  .Abody .subS3div .subS3TitleTextP {
    font-size: 2rem;
    color: #424242;
    font-family: "BlauerRegular";
    position: relative;
    display: inline-block;
    line-height: 1.2;
    margin-bottom: 4vh;
  }
  .Abody .subS3div .subS3DescDiv {
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
  }
  .Abody .subS3div .subS3DescDiv .subS3Desc {
    font-size: 1.125rem;
    margin-bottom: 5vh;
    font-weight: 300;
  }
  .Abody .subS3div .subS3DescDiv .subS3DescStats {
    flex-direction: column;
    align-content: flex-start;
  }
  .Abody .subS3div .subS3DescDiv .subS3DescStats .subS3projects {
    margin-bottom: 3vh;
  }
  .Abody .subS3div .subS3DescDiv .subS3DescStats .subS3NumDesc {
    font-size: 1.05rem;
    color: #424242;
    font-weight: 300;
  }
  .Abody .section2AN .textSlide1, .Abody .section2AN .TextSlide2, .Abody .section2AN .TextSlide3 {
    opacity: 0;
    transform: translateX(30px);
  }
  .Abody .section2AN .projectFrame {
    flex-direction: column-reverse;
    height: auto;
    width: 90%;
    justify-self: start;
    margin-left: 5%;
    margin-right: 5%;
  }
  .Abody .section2AN .projectFrame .stickyIMG {
    position: sticky;
    top: 5%;
  }
  .Abody .section2AN .projectFrame .photosS2 {
    width: 85vw;
    height: 80vw;
  }
  .Abody .section2AN .projectFrame .projectImg {
    width: 100%;
    margin-top: 7.5%;
    height: 100%;
    margin-bottom: 0%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -o-object-fit: cover;
       object-fit: cover;
    align-items: start;
  }
  .Abody .section2AN .projectFrame .projectText {
    width: 100%;
  }
  .Abody .section2AN .projectFrame .projectText .textslides {
    height: 45vh;
    justify-content: center;
    width: 100%;
    align-items: center;
    padding-top: 25px;
  }
  .Abody .section2AN .projectFrame .projectText .webLink {
    display: none;
  }
  .Abody .section2AN .projectFrame .projectText .projectTitle {
    font-size: calc(2vw + 1.7em);
    padding: 4% 0 10% 0;
    text-align: center;
  }
  .Abody .section2AN .projectFrame .projectText .projectDesc {
    display: none;
  }
  .Abody .section2AN .projectFrame .projectText .projectDescPhone {
    font-size: calc(1.5vw + 0.65em);
    color: #424242;
  }
  .Abody .section2AN .projectFrame .projectText .Button {
    font-size: 3vw;
  }
  .Abody .section2AN .projectFrame .webLinkPhone {
    color: #776B6B;
    font-size: calc(2vw + 0.3em);
    margin-top: 2.5%;
  }
  .Abody .ASection3 .AS3Body {
    flex-direction: column;
    width: 100%;
  }
  .Abody .ASection3 .AS3Body .AS3Card1 {
    margin-bottom: 2.5vh;
  }
  .Abody .ASection3 .AS3Body .AS3TText {
    font-size: 2.3rem;
  }
  .Abody .ASection3 .AS3Body .AS3Desc {
    width: 100%;
    font-size: 1.125rem;
  }
  .Abody .ASection3 .AS3Body .AS3Desc .AS3DescText {
    font-size: 1.125rem;
    margin-top: 1vh;
    margin-bottom: 2vh;
  }
  .Abody .ASection3 .AS3Body .AS3CardsBody {
    width: 100%;
  }
  .Abody .ASection3 .AS3Body .AS3CardsBody .AS3CardsDiv {
    flex-direction: column;
    margin: 0;
    border: none;
  }
  .Abody .ASection3 .AS3Body .AS3CardsBody .AS3CardsDiv .AS3Card {
    width: 100%;
    margin-bottom: 3vh;
  }
  .Abody .ASection3 .AS3Body .AS3CardsBody .AS3CardsDiv .AS3Card .AS3CardNum {
    font-size: 1.125rem;
  }
  .Abody .ASection3 .AS3Body .AS3CardsBody .AS3CardsDiv .AS3Card .AS3CardTitle {
    font-size: 1.8rem;
    color: #424242;
    font-family: "BlauerRegular";
  }
  .Abody .ASection3 .AS3Body .AS3CardsBody .AS3CardsDiv .AS3Card .AS3CardDesc {
    font-size: 1.25rem;
    padding-bottom: 2vh;
  }
  .Abody .AS3Card {
    border-bottom: #050608 solid 0.1px;
  }
  .Abody .section6 {
    display: none;
  }
}
.section5 {
  display: none !important;
}/*# sourceMappingURL=style.css.map */
